*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
margin: 10px;
justify-content: space-between;

}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav .logo{
    font-weight: 900;
    font-size: 30px;
    cursor: default;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

nav ul li a:hover{
   text-decoration: overline;
   font-weight: 900;
   color: #129b9b;

}
.search-box{
    display: flex;
    gap: 35px;
}
nav button{
    background-color: #129b9b;
    padding: 4px 10px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}
input{
    padding: 4px 10px;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.hero-left{
    width: 60%;
    padding: 0 8%;
}
.hero-left h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}
.hero-left h1 span{
    color: #129b9b;
    background-color: #dfdfdf;
    font-size: 55px;
    font-weight: 900px;
}
.hero-left p{
    font-weight: 500;

}
.hero-left p span{
    color: #129b9b;
    font-weight: 700;
    font-size: 25px;
}
.hero-right{
    display: flex;
  width: 40%;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero-right img{
    height: 300px;
    width: 300px;

}
footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
footer ul{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.hero-section button{
    background-color: #129b9b;
    padding: 4px 10px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}



